*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    
}

.container{
    width: 100%;
    height: 550px;
    background-color: rgb(216, 215, 215);
    display: flex;
}

.left-part{
    width: 40%;
    border: 1px solid;
    height: 100%;

}
.right-part{
    width: 60%;
    border: 1px solid;
    height: 100%;

}
.left-part ul{
    display: flex;
    /* border: 1px solid; */
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}
.left-part ul li{
    list-style-type: none;
}
.center-content{
    width: 90%;
    background-color: #fff;
    height: 100px;
}
.center-content h1{
    display: flex;
    color: gray;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    margin-top: 30px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 230px; 
}
.forcenter{
    display: flex;
    align-items: center;
    justify-content: center;

}
.price-part{

    width: 95%;
    display: flex;
    border: 1px solid;
    align-items: center;
    
}
.one{
    width: 40%;
}
.two{
    width: 30%;
}
.three{
    width: 30%;
    text-align: right;
}
.price-part div p{
    border-bottom: 1px solid;
    padding: 3px 5px;
}
.button{
    width: 98%;
     

}
.green1{
    color: green;
    font-weight: bold;
}
.two,.three{
    background-color: #fff;
}
.button ul a{
    /* border: 1px solid; */


}
.button ul{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}
.button-center{
    margin-top: 5px;
    /* box-shadow: 0px 2px 10px 1px (71,71,0,52); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .red:hover{
    background-color: rgb(0, 132, 255);
}
.button .green:hover{
    background-color: #38fc02;
}
.green{
    padding: 10px 60px;
    background-color: green;
}
.red{
    padding: 10px 60px;
    background-color: #fc023c;
    
}
.button a{
    color: white;
    text-decoration: none;
}

.card{
   
    margin: 20px;
    border-radius: 3px;
    /* border: 1px solid; */
    width: 80px;
    height: 80px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.418),rgba(255, 0, 0, 0.44)),url("https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/desktops/inspiron-desktops/inspiron-3020s-mlk/media-gallery/desktop-inspiron-3020-sff-blue-gallery-1.psd?fmt=png-alpha&wid=800&hei=620");
    /* background: linear-gradient(rgba(255, 0, 0, 0.185),rgba(255, 0, 0, 0.316),url("https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/desktops/inspiron-desktops/inspiron-3020s-mlk/media-gallery/desktop-inspiron-3020-sff-blue-gallery-1.psd?fmt=png-alpha&wid=800&hei=620"); */
    /* background-image: url("https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/desktops/inspiron-desktops/inspiron-3020s-mlk/media-gallery/desktop-inspiron-3020-sff-blue-gallery-1.psd?fmt=png-alpha&wid=800&hei=620"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(rgba(255, 0, 0, 0.473),rgba(255, 0, 0, 0.336),url("https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/desktops/inspiron-desktops/inspiron-3020s-mlk/media-gallery/desktop-inspiron-3020-sff-blue-gallery-1.psd?fmt=png-alpha&wid=800&hei=620")); */
}
.card img{
    width: 100%;
    height: 100%;

}
.card p{
    font-size: small;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-part{
    display: flex;
    flex-wrap: wrap;
}
